/* -------------------------------------------- */
/* All */
/* -------------------------------------------- */
* {
	color: rgb(215, 215, 215);
	background-color: rgb(70, 70, 70);
	/* font-family: "Lucida Grande, Segoe UI";  */
	/* font-size: 11px;  */
}

/* -------------------------------------------- */
/* QLabel */
/* -------------------------------------------- */
QLabel {
	background: transparent;
}

/* -------------------------------------------- */
/* QLineEdit */
/* -------------------------------------------- */
QLineEdit { 
	color: black;
	background-color: rgb(130, 150, 170);
	selection-background-color: rgb(255, 200, 0);
	border: 1px solid rgb(35,35,35);
}

/* -------------------------------------------- */
/* QMenuBar */
/* -------------------------------------------- */
 QMenuBar {
	color: rgb(215, 215, 215);
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(72, 72, 72, 255), stop:0.5 rgba(50, 50, 50, 255), stop:0.59 rgba(60, 60, 60, 255), stop:1 rgba(72, 72, 72, 255));

	border-width: 1px;	
	border-style: solid;
	border-left-color: rgb(60, 60, 60, 0); /* ver uso de transparencia */
	border-top-color: rgb(60, 60, 60, 0);
	border-right-color: rgb(35,35,35);
	border-bottom-color: rgb(35,35,35);
 }

 QMenuBar::item {
     padding: 0px 8px 0px 8px;
     background: transparent;
 }

 QMenuBar::item:selected { /* when selected using mouse or keyboard */
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(92, 92, 92, 255), stop:0.5 rgba(70, 70, 70, 255), stop:0.59 rgba(80, 80, 80, 255), stop:1 rgba(92, 92, 92, 255));
 }

 QMenuBar::item:pressed {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(92, 92, 92, 255), stop:0.5 rgba(70, 70, 70, 255), stop:0.59 rgba(80, 80, 80, 255), stop:1 rgba(92, 92, 92, 255));
 }

/* -------------------------------------------- */
/* QMenu */
/* -------------------------------------------- */
 QMenu {
    color: black;
	background-color: rgb(130, 150, 170);
	border: 1px solid rgb(35,35,35);
 }

 QMenu::item {
    padding: 1px 10px 1px 20px;
    border: 1px solid transparent; 
 }

 QMenu::item:selected {
	color: black;
	border-color: rgb(35,35,35);
	background-color: rgb(255, 200, 0);
 }

 QMenu::separator {
    height: 1px;
    background: black;
	margin: 2px 1px 2px 15px;
 }

/* -------------------------------------------- */
/* QPushButton */
/* -------------------------------------------- */
QPushButton, QCommandLinkButton, QToolButton, QDialogButtonBox {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(72, 72, 72, 255), stop:0.5 rgba(50, 50, 50, 255), stop:0.59 rgba(60, 60, 60, 255), stop:1 rgba(72, 72, 72, 255));
	border-radius: 4px;
	border-width: 2px;
	border-style: groove;
	border-left-color: rgb(60, 60, 60);
	border-top-color: rgb(60, 60, 60);
	border-right-color: rgb(35,35,35);
	border-bottom-color: rgb(35,35,35);
}

QPushButton::pressed, QCommandLinkButton::pressed, QToolButton::pressed, QDialogButtonBox::pressed {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(92, 92, 92, 255), stop:0.5 rgba(70, 70, 70, 255), stop:0.59 rgba(80, 80, 80, 255), stop:1 rgba(92, 92, 92, 255));
	border-radius: 4px;
	border-width: 2px;	
	border-style: groove;
	border-left-color: rgb(35,35,35);
	border-top-color: rgb(35,35,35);
	border-right-color: rgb(60, 60, 60);
	border-bottom-color: rgb(60, 60, 60);
}

QPushButton::checked, QCommandLinkButton::checked, QToolButton::checked, QDialogButtonBox::checked {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(92, 92, 92, 255), stop:0.5 rgba(70, 70, 70, 255), stop:0.59 rgba(80, 80, 80, 255), stop:1 rgba(92, 92, 92, 255));

	border-radius: 4px;
	border-width: 2px;	
	border-style: groove;
	border-left-color: rgb(35,35,35);
	border-top-color: rgb(35,35,35);
	border-right-color: rgb(60, 60, 60);
	border-bottom-color: rgb(60, 60, 60);
}

/* -------------------------------------------- */
/* QComboBox */
/* -------------------------------------------- */
QComboBox {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(72, 72, 72, 255), stop:0.5 rgba(50, 50, 50, 255), stop:0.59 rgba(60, 60, 60, 255), stop:1 rgba(72, 72, 72, 255));

	border-radius: 4px;
	border-width: 2px;	
	border-style: groove;
	border-left-color: rgb(60, 60, 60);
	border-top-color: rgb(60, 60, 60);
	border-right-color: rgb(35,35,35);
	border-bottom-color: rgb(35,35,35);
	padding: 0px 5px 0px 5px;
 }

QComboBox::drop-down { 
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(72, 72, 72, 255), stop:0.5 rgba(50, 50, 50, 255), stop:0.59 rgba(60, 60, 60, 255), stop:1 rgba(72, 72, 72, 255));

	image: url(:/appIcons/down.svg);
	width: 15px; 
	border-left: 1px solid rgb(35,35,35);
}

 QComboBox QAbstractItemView {
	color: black;
	background-color: rgb(130, 150, 170);  
	border: 1px solid rgb(35,35,35);
	selection-color: black;
	selection-background-color: rgb(255, 200, 0);
	padding: 4px 0px 4px 0px;
 }

QComboBox QAbstractItemView::indicator  {
	background-color: green;
}
QComboBox QAbstractItemView::icon  {
	background-color: red;
}
QComboBox QAbstractItemView::item  {
	background-color: cyan;
}

/* -------------------------------------------- */
/* QListWidget */
/* -------------------------------------------- */
QListWidget {
	color: black;
	background-color:rgb(130, 150, 170);
	border: 1px solid rgb(35,35,35);
}

QListWidget::item:selected {
	color: black;
	background: rgb(255, 200, 0);
	border-style: solid;
	border-color: rgb(80, 100, 120);
	border-width: 1px 0px 1px 0px;
}

QListWidget::item:hover {
	color: white;
}

/* -------------------------------------------- */
/* QGroupBox */
/* -------------------------------------------- */
QGroupBox {
	background-color: rgb(80, 80, 80);
	border: 1px solid rgb(35, 35, 35);
	border-radius: 5px;
	margin-top: 1ex;/* leave space at the top for the title */
}

QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top center; 
	padding: 0px 3px 0px 3px;
 }


/* -------------------------------------------- */
/* QTextEdit */
/* -------------------------------------------- */
QTextEdit {
	color: black;
	background-color:rgb(130, 150, 170);
	selection-background-color: rgb(255, 200, 0);
	border: 1px solid rgb(35,35,35);
}

/* -------------------------------------------- */
/* QScrollBar */
/* -------------------------------------------- */
QScrollBar::vertical {
    background-color: rgb(60,60,60);
	border: 1px solid rgb(35,35,35);
    margin: 0px 0px 40px 0px;
 }

 QScrollBar::handle:vertical {
    background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:, y2:0, stop:0 rgb(170, 170, 170), stop:0.5 rgb(150, 150, 150), stop:0.59 rgb(160, 160, 160), stop:1 rgb(170, 170, 170));

	image: url(:/appIcons/up_down.svg);
	min-height: 20px;
	border-style: solid;
	border-color: rgb(35,35,35);
	border-width: 1px 0px 1px 0px;
 }

 QScrollBar::add-line:vertical {
     background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:, y2:0, stop:0 rgb(170, 170, 170), stop:0.5 rgb(150, 150, 150), stop:0.59 rgb(160, 160, 160), stop:1 rgb(170, 170, 170));
    height: 18px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    border: 1px solid rgb(35,35,35);
	border-top: 1px solid transparent;
 }

 QScrollBar::sub-line:vertical {
      background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:, y2:0, stop:0 rgb(170, 170, 170), stop:0.5 rgb(150, 150, 150), stop:0.59 rgb(160, 160, 160), stop:1 rgb(170, 170, 170));
	height: 18px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    border: 1px solid rgb(35,35,35);
	border-top: 1px solid transparent;
    position: absolute;
    bottom: 20px;
 }

 QScrollBar:up-arrow:vertical {
    image: url(:/appIcons/up.svg);
     width: 18px;
     height: 18px;
 }

QScrollBar::down-arrow:vertical {
     image: url(:/appIcons/down.svg);
     width: 18px;
     height: 18px;
 }

QScrollBar::sub-page::vertical {
	background: rgb(50,50,50);
}

QScrollBar::add-page::vertical {
	background: rgb(60,60,60);
}

/* ------- Horizontal ------- */
 QScrollBar:horizontal {
    background-color: rgb(60,60,60);
	border: 1px solid rgb(35,35,35);
    margin: 0px 40px 0px 0px;
 }

 QScrollBar::handle:horizontal {
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgb(170, 170, 170), stop:0.5 rgb(150, 150, 150), stop:0.59 rgb(160, 160, 160), stop:1 rgb(170, 170, 170));

	image: url(:/appIcons/left_right.svg);
	min-width: 20px;
	border-style: solid;
	border-color: rgb(35,35,35);
	border-width: 0px 1px 0px 1px;
 }

 QScrollBar::add-line:horizontal {
     background: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgb(170, 170, 170), stop:0.5 rgb(150, 150, 150), stop:0.59 rgb(160, 160, 160), stop:1 rgb(170, 170, 170));
    width: 18px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    border: 1px solid rgb(35,35,35);
	border-left: 1px solid transparent;
 }

 QScrollBar::sub-line:horizontal {
      background: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgb(170, 170, 170), stop:0.5 rgb(150, 150, 150), stop:0.59 rgb(160, 160, 160), stop:1 rgb(170, 170, 170));
	width: 18px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    border: 1px solid rgb(35,35,35);
	border-left: 1px solid transparent;
    position: absolute;
    right: 20px;
	
 }

 QScrollBar:left-arrow:horizontal {
	image: url(:/appIcons/left.svg);
     width: 18px;
     height: 18px;
 }

QScrollBar::right-arrow:horizontal {
     image: url(:/appIcons/right.svg);
     width: 18px;
     height: 18px;
 }

QScrollBar::sub-page::horizontal {
	background: rgb(50,50,50);
}

QScrollBar::add-page::horizontal {
	background: rgb(60,60,60);
}

/* -------------------------------------------- */
/* QSlider */
/* -------------------------------------------- */
QSlider::groove:vertical {
	background: transparent;
	width: 4px;
}

QSlider::handle:vertical {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(72, 72, 72, 255), stop:0.5 rgba(50, 50, 50, 255), stop:0.59 rgba(60, 60, 60, 255), stop:1 rgba(72, 72, 72, 255));
	height: 7px;
	margin: 0 -8px; 
	border: 1px solid rgb(35,35,35);
}

QSlider::add-page:vertical {
	background: rgb(60,60,60);
	border: 1px solid rgb(35,35,35);
}

QSlider::sub-page:vertical {
	background: rgb(50,50,50);
	border: 1px solid rgb(35,35,35);
} 
/* ------- Horizontal ------- */
QSlider::groove:horizontal {
	background: transparent;
	height: 4px;
}

QSlider::handle:horizontal {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(72, 72, 72, 255), stop:0.5 rgba(50, 50, 50, 255), stop:0.59 rgba(60, 60, 60, 255), stop:1 rgba(72, 72, 72, 255));
	width: 7px;
	margin: -8px 0; 
	border: 1px solid rgb(35,35,35);
}

QSlider::add-page:horizontal {
	background: rgb(60,60,60);
	border: 1px solid rgb(35,35,35);
}

QSlider::sub-page:horizontal {
	background: rgb(50,50,50);
	border: 1px solid rgb(35,35,35);
} 

/* -------------------------------------------- */
/* QCheckBox */
/* -------------------------------------------- */
QCheckBox {
	background-color: transparent;
	border: 0px none trasnparent;
}

QCheckBox::indicator {
	background-color: rgb(130, 150, 170);
	selection-background-color: rgb(255, 200, 0);
	border: 1px solid rgb(35,35,35);
	width: 12px;
	height: 12px;
}

QCheckBox::indicator::pressed {
	background-color: rgb(255, 200, 0);
}

QCheckBox::indicator:checked {
	background-color: rgb(255, 200, 0);
	width: 12px;
	height: 12px;
	image: url(:/appIcons/checked.svg);
 }

/* -------------------------------------------- */
/* QRadioButton */
/* -------------------------------------------- */
QRadioButton {
	background-color: transparent;
	border: 0px none trasnparent;
}

QRadioButton::indicator {
	background-color: rgb(130, 150, 170);
	border: 1px solid rgb(35,35,35);
	border-radius: 7px;
	width: 12px;
	height: 12px;
}

QRadioButton::indicator:checked {
	background-color: rgb(255, 200, 0);
	width: 12px;
	height: 12px;
	image: url(:/appIcons/checked.svg);
 }

/* -------------------------------------------- */
/* QSpinBox */
/* -------------------------------------------- */
QAbstractSpinBox {
	color: black;
	background-color: rgb(130, 150, 170);
	selection-background-color: rgb(255, 200, 0);
	border-width: 1px;	
	border-style: solid;
	border-color: rgb(35,35,35);
 }

QAbstractSpinBox::up-button { 
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgb(72, 72, 72), stop:0.5 rgb(50, 50, 50), stop:0.59 rgb(60, 60, 60), stop:1 rgba(72, 72, 72));

	image: url(:/appIcons/up.svg);
	width: 15px; 
	border-left: 1px solid rgb(35,35,35);
	border-bottom: 1px solid rgb(35,35,35);
}

QAbstractSpinBox::up-button::pressed {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(92, 92, 92, 255), stop:0.5 rgba(70, 70, 70, 255), stop:0.59 rgba(80, 80, 80, 255), stop:1 rgba(92, 92, 92, 255));
}

QAbstractSpinBox::down-button {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(72, 72, 72, 255), stop:0.5 rgba(50, 50, 50, 255), stop:0.59 rgba(60, 60, 60, 255), stop:1 rgba(72, 72, 72, 255));

	image: url(:/appIcons/down.svg);
	width: 15px; 
	border-left: 1px solid rgb(35,35,35);
	border-top: 1px solid rgb(35,35,35);
}

QAbstractSpinBox::down-button::pressed {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(92, 92, 92, 255), stop:0.5 rgba(70, 70, 70, 255), stop:0.59 rgba(80, 80, 80, 255), stop:1 rgba(92, 92, 92, 255));
}

/* -------------------------------------------- */
/* QProgressBar */
/* -------------------------------------------- */
QProgressBar { 
	color: rgb(215, 215, 215);
	background-color: rgb(40, 40, 40);
	border: 1px solid rgb(35,35,35);
	text-align: center;
}

QProgressBar::chunk { 
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(50, 70, 90), stop:0.5 rgba(30, 40, 55), stop:0.59 rgba(40, 55, 70), stop:1 rgba(105, 155, 195));

/*	border-right: 2px groove rgb(40,40,40);
	width: 20px;
	margin: 0px 0.2px 0px 0px;
*/
}

/* -------------------------------------------- */
/* QTabWidget */
/* -------------------------------------------- */
QTabWidget::pane {
	background-color: rgb(85, 85, 85);
	border: 1px solid rgb(35,35,35);
	top: 10px;
}

QTabWidget::tab-bar {
    left: 0px; /* move as tabs para a direita */
}

QTabBar::tab { /* Tabs nao selecionada */
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(65, 65, 65, 255), stop:1 rgba(105, 105, 105, 255));

	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: rgb(35,35,35);
    min-width: 50px;
	min-height: 18px;
}

QTabBar::tab:selected {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(85, 85, 85, 255), stop:1 rgba(105, 105, 105, 255));
	
	border-width: 1px 1px 1px 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-color: rgb(35,35,35);
	border-bottom-color: transparent;
    min-width: 50px;
	min-height: 18px;
}

 QTabBar::tab:middle,  QTabBar::tab:last {
    margin-left: -1; 
 }

/* -------------------------------------------- */
/* QTreeView */
/* -------------------------------------------- */
QTreeView {
	color: black;
	background-color: rgb(130, 150, 170);
    show-decoration-selected: 1; 
}

QTreeView::item:hover {
	color: white;
}
/*
QTreeView::item:selected {
	color: black;
	border: 1px solid rgb(80, 100, 120);
}
*/

QTreeView::branch:has-siblings {
	image: url(:/appIcons/vline.png)  ;
 }

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
	image: url(:/appIcons/branch-end.png) ;
 }

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
	image: url(:/appIcons/plus.png) ;
 }

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
	image: url(:/appIcons/minus.png) ;
 }

